<form action="/names" method="post">
  <fieldset>
    Player1:<br>
    <input type="text" name="Player1">
    Player2:<br>
    <input type="text" name="Player2">
    <input type="submit" value="Submit">
  </fieldset>
</form>
