<form action="/names" method="post">
  <fieldset>
    Player1:<br>
    <input type="text" name="player1">
    Player2:<br>
    <input type="text" name="player2">
    <input type="submit" value="Submit">
  </fieldset>
</form>
